@use './global-imports' as *;


@mixin globalStyles--main {
  // Padding & margin reset, box-sizing 
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
    color: #000;
    font-family: $default-font;
  }
}