// Utility styles


@mixin globalStyles--utility {
  .container {
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
  
    @media (min-width: 600px) {
      & {
        width: 85%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
        overflow: visible;
      }
    }
  }
  
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  // Margin and Padding classes
  $space-amounts: (1,2,3,4,5);
  
  @each $space in $space-amounts {
    .m-#{$space} {
      margin: #{$space}rem;
    }
    .my-#{$space} {
      margin-top: #{$space}rem;
      margin-bottom: #{$space}rem;
    }
    .mx-#{$space} {
      margin-left: #{$space}rem;
      margin-right: #{$space}rem;
    }
    .ml-#{$space} {
      margin-left: #{$space}rem;
    }
    .mr-#{$space} {
      margin-right: #{$space}rem;
    }
    .mt-#{$space} {
      margin-top: #{$space}rem;
    }
    .mb-#{$space} {
      margin-bottom: #{$space}rem;
    }
  
    .p-#{$space} {
      padding: #{$space}rem;
    }
    .py-#{$space} {
      padding-top: #{$space}rem;
      padding-bottom: #{$space}rem;
    }
    .px-#{$space} {
      padding-left: #{$space}rem;
      padding-right: #{$space}rem;
    }
    .pl-#{$space} {
      padding-left: #{$space}rem;
    }
    .pr-#{$space} {
      padding-right: #{$space}rem;
    }
    .pt-#{$space} {
      padding-top: #{$space}rem;
    }
    .pb-#{$space} {
      padding-bottom: #{$space}rem;
    }
  }
  
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  .mb-auto {
    margin-bottom: auto;
  }
  
  .py-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
  
  .px-auto {
    padding-left: auto;
    padding-right: auto;
  }
  
  .pl-auto {
    padding-left: auto;
  }
  
  .pr-auto {
    padding-right: auto;
  }
  
  .pt-auto {
    padding-top: auto;
  }
  
  .pb-auto {
    padding-bottom: auto;
  }
}